In [7]:
from typing import Dict
from pandas_datareader import data
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime 
import calendar
from statsmodels.stats.stattools import jarque_bera
from statsmodels.tsa.stattools import adfuller
from datetime import datetime

In [15]:
retornos_USDARS= []
wkDict = {"lunes":"Monday","martes":"Tuesday","mi√©rcoles":"Wednesday","jueves":"Thursday","viernes":"Friday","sabado":"Saturday","domingo":"Sunday"}
inicio= '2019-01-01' #Fecha Inicial
fin= '2020-01-01' #Fecha Final

In [17]:
def dailyReturn(dailyDataUSDARS):
    for i in range (1, len (dailyDataUSDARS)):
        retornos_USDARS.append (dailyDataUSDARS['Adj Close'][i]/ dailyDataUSDARS['Adj Close'] [i-1]-1)
    print ('El retorno diario de USD ARS es=', retornos_USDARS)

def weekdayName(x: int,y: dict):
    if x in y.keys():
        x = y[x]
    return x

In [18]:
dailyDataUSDARS= web.get_data_yahoo('ARS=X', inicio, fin, interval='d')

In [20]:
dailyDataUSDARS.describe()

             High         Low        Open       Close  Volume   Adj Close
count  242.000000  242.000000  242.000000  242.000000   242.0  242.000000
mean    47.832336   47.225446   47.506153   47.510492     0.0   47.510492
std      8.431123    8.330449    8.390485    8.400136     0.0    8.400136
min     37.196999   36.841999   36.929001   36.929001     0.0   36.929001
25%     41.847749   41.390777   41.577750   41.586325     0.0   41.586325
50%     44.659651   44.019001   44.330500   44.325500     0.0   44.325500
75%     58.572462   57.660449   57.927000   57.934251     0.0   57.934251
max     60.505001   59.856171   60.235001   60.238998     0.0   60.238998

In [ ]:
def returns(dailyData):
    returns = []
    for i in range(1,len(dailyData)):
        returns.append(dailyData[i]/dailyData[i-1]-1)
    return(dailyData['Returns'] = returns)